html,
body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #008d2a;
    min-width: 320px;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}