.joinOuterContainer {
  min-width: 280px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
}

.joinInnerContainer {
  width: 320px;
}

.joinInput {
  text-align: center;
  font-size: 1.2em;
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  border: none;
}

.joinOuterContainer h1 {
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 22px;
  padding: 0 5px 20px 5px;
  border-bottom: 1px solid #008d2a;
}

.joinOuterContainer h3 {
  color: white;
  font-size: 1.2em;
  padding: 0 5px 20px 5px;
  border-bottom: 1px solid #008d2a;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #018b1f;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
}

.button:hover {
  background: #01a024;
}

.mt20 {
  margin-top: 20px;
}

.disabled {
  opacity: .5;
  background: #018b1f !important;
  cursor: default;
}

@media (max-width: 480px) {

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus,
input:focus {
  outline: 0;
}