




  .gameStats{
    position: absolute;
    left: 1%;
    top: 1vh;
  }


  .gameTextAvatar{
    max-width: 40%;
  }

  .gameText{
    display: flex;
    justify-content: center;
  }

  .gameButtons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hitButton{
    width: 10%;
  }
  .buttonImg{
    max-width: 55%;
  }

  /* Large screens like sideway phone tilt, tablets, etc. */
  @media (min-width: 750px){
    .playingCard {
      max-width: 10%;
    }
  }

  /* Average phone width */
  @media (min-width: 320px) and (max-width: 480px) {
    .gameTextAvatar{
      max-width: 40%;
    }

    .hitButton{
      width: 15%
    }
    .buttonImg{
      max-width: 65%;
    }
    
  } 


  /* Large screens for web browsers */
  @media (min-width: 1200px){
  }


